@using BlazorClient.Services.AccountManagement
@inherits LayoutComponentBase
@layout MainLayout
@inject IAccountService _accountService
@inject NavigationManager _navigationManager

<div class="app">
    @Body
</div>

@code {
    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (_accountService.User != null)
        {
            _navigationManager.NavigateTo("");
        }
    }
}