@using BlazorClient.Services.AccountManagement
@inherits LayoutComponentBase
@layout MainLayout
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<div class="app">
    @Body
</div>

@code {
    protected override void OnInitialized()
    {
    // redirect to home if already logged in
        if (AccountService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }
}