@inject NavigationManager _navigationManager

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AppRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <div class="bg">
            <img class="bg-image" src="/assets/images/BGimage404.png"/>
        </div>
        <div class="text">
            Unable to access the site. Check if there are any typos in the
            hostname. If you entered everything correctly but lt doesn't
            work for you, call <Link To="https://t.me/seltenes">Daniel</Link>
        </div>
    </NotFound>
</Router>