@page "/"

@using Microsoft.AspNetCore.Authorization
@using BlazorClient.Services.AccountManagement
@attribute [Authorize]
@inject IAccountService AccountService
@inject NavigationManager _navigationManager

<div class="p-4">
    <div class="container">
        <h1>Hi @AccountService.User.Name!</h1>
        <p>You're logged in</p>
        <p><NavLink href="users">Manage Users</NavLink></p>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        _navigationManager.NavigateTo("users");
    }

}