@using BlazorClient.Services.AccountManagement
@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-light ">
        <div class="navbar-nav">

            <div class="home">
                <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link" ><b>IT_Club</b></NavLink>
            </div>
            <div class="nav-menu">
                <NavLink href="users" class="nav-item nav-link">Список пользователей</NavLink>
                <NavLink href="#" class="nav-item nav-link">Список учащихся</NavLink>
                <NavLink href="#" class="nav-item nav-link">Cписок групп</NavLink>
                <NavLink href="#" class="nav-item nav-link">Оплата</NavLink>
                <NavLink href="#" class="nav-item nav-link">Личный кабинет</NavLink>
                <NavLink href="account/logout" class="nav-item nav-link">Выход</NavLink>
                <div class="user-profile">
                    <NavLink href="#" class="nav-item nav-link">
                        <img class="user-image" src="/assets/images/User (1).svg" />
                    </NavLink>
                    <NavLink href="#" class="nav-item nav-link">@($"{AccountService.User.Name} {AccountService.User.Surname}")</NavLink>
                </div>
            </div>
        </div>
</nav>
}

<div class="app-container @(LoggedIn ? "bg-white" : "")">
    <AlertCustom />
    @Body
</div>

@code {
    private bool LoggedIn => AccountService.User != null;
    
    
}