@font-face {
    font-family: 'F1';
    src: url('./assets/fonts/Formula1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::deep .header-bar a{
    font-weight: 500;
    padding: 0.5rem;
}

::deep .logo-text-wrapper {
    
    /*font-size: 200%;*/
    font-family: 'F1', 'Exo 2', serif;
    font-weight: bold;
    margin: auto;
}

.user-image {
    max-height: 4vh;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05) !important;
    border: 0.25px solid #D7D8D9;
}

::deep .separate-add-button {
    position: fixed;
    right: 2vh;
    bottom: 2vh;
    width: 50px;
    height: 50px;
    border-block-color: transparent;
    border-radius: 50%;
    background-color: #5ec246;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

::deep .separate-add-button:hover,
::deep .separate-add-button:focus {
    filter: brightness(0.8);
    outline: none;
}

::deep .separate-add-button::before,
::deep .separate-add-button::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #fff;
}

::deep .separate-add-button::before {
    width: 4px;
    margin-left: -3px;
    left: 52%;
    top: 15px;
    bottom: 15px;
    z-index: 9;
}

::deep .separate-add-button::after {
    height: 4px;
    margin-top: -3px;
    top: 52%;
    left: 15px;
    right: 15px;
    z-index: 9;
}
