@using BlazorClient.Services.AccountManagement
@using System.BLL.Models.ClubManagement
@using BlazorClient.Services.ClubManagement
@using BlazorClient.Services.UserManagement
@inherits LayoutComponentBase
@inject IAccountService _accountService
@inject IUserService _userService
@inject NavigationManager _navigationManager
@inject IClubService _clubService

@if (LoggedIn)
{
    <div>
        <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.White"
             ThemeContrast="ThemeContrast.Light"
             Class="header-bar">

            <BarBrand Style="border:none;">
                <BarLink To=".">
                    <div class="home">
                        It_Club
                    </div>
                </BarLink>
            </BarBrand>
            <BarMenu >
                <BarStart Style="font-size:170%">

                    <BarItem Style="margin-left:82px">
                        <BarLink To="users">Список пользователей</BarLink>
                    </BarItem>

                    <BarItem>
                        <BarLink To="groups">Cписок групп</BarLink>
                    </BarItem>

                    <BarItem>
                        <BarLink To="payments">Оплата</BarLink>
                    </BarItem>

                    <BarItem>
                        <BarLink To="account/logout">Выход</BarLink>
                    </BarItem>

                    <BarItem Style="float:right">

                        <BarLink To=@($"/users/{_accountService.User.Id}")>
                            <img class="user-image" src="/assets/images/User (1).svg"/>
                            @($"{_accountService.User.Name} {_accountService.User.Surname} ")
                        </BarLink>

                    </BarItem>
                </BarStart>
            </BarMenu>
        </Bar>
    </div>
    <div class="sider">
        <!--Sidebar-->
        <Sidebar @ref="_sidebar">
            <SidebarContent>
                <SidebarNavigation>
                    @foreach (var club in _clubs)
                    {
                        <SidebarItem>
                            <SidebarLink To="" Title="@club.Title">
                                <Icon Name="IconName.Home" Margin="Margin.Is3.FromRight"/>@club.Title
                            </SidebarLink>
                        </SidebarItem>
                    }
                </SidebarNavigation>
            </SidebarContent>
        </Sidebar>
        <AlertCustom/>
        @Body
    </div>
}
else
{
    @Body
}


@code {
    private bool LoggedIn => _accountService.User != null;

    private IEnumerable<ClubModel> _clubs = new List<ClubModel>();
    private IEnumerable<ClubModel> _userClubs = new List<ClubModel>();

    Sidebar _sidebar;
    SidebarSubItem mailSidebarSubItems;
    SidebarSubItem appsSidebarSubItems;

    protected override async Task OnInitializedAsync()
    {
        if (LoggedIn)
        {
            _clubs = await _clubService.GetAllAsync();
            _userClubs = await _clubService.GetClubsByUser(_accountService.User.Id);
            var clubsRoles = (await _clubService.GetAllAsync()).Select(cl => cl.Title).Intersect(await _userService.GetRolesAsync(_accountService.User.Id));
        }
    }

    void ToggleSidebar()
    {
        _sidebar.Toggle();
    }

}