@* @inherits LayoutComponentBase *@
@* *@
@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu/> *@
@*     </div> *@
@* *@
@*     <div class="main"> *@
@*         <div class="top-row px-4 auth"> *@
@*             <LoginDisplay/> *@
@*             <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <div class="content px-4"> *@
@*             @Body *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@

@using BlazorClient.Services.AccountManagement
@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!--nav-->
<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.White"
     ThemeContrast="ThemeContrast.Light"
>

    <BarBrand>
        <div class="home">
            <BarDropdown>
                <BarDropdownToggle><b>It_Club</b></BarDropdownToggle>
                <BarDropdownMenu>
                    <BarDropdownItem>Action</BarDropdownItem>
                    <BarDropdownItem>Another action</BarDropdownItem>
                </BarDropdownMenu>
            </BarDropdown>
        </div>
    </BarBrand>

    <BarMenu>

        <BarStart>

            <BarItem>
                <BarLink To="users">Список челбосо</BarLink>
            </BarItem>

            <BarItem>
                <BarLink To="groups">Cписок групп</BarLink>
            </BarItem>

            <BarItem>
                <BarLink To="#">Оплата</BarLink>
            </BarItem>

            <BarItem>
                <BarLink To="#">Выход</BarLink>
            </BarItem>

            <BarItem Style="float:right">
                <BarLink To="#">
                    <img class="user-image" src="/assets/images/User (1).svg" />
                    @($"{AccountService.User.Name} {AccountService.User.Surname} ")
                </BarLink>
            </BarItem>

        </BarStart>

         

    </BarMenu>

</Bar>
    <!--</nav>-->






}


<div class="app-container @(LoggedIn ? "bg-white" : "")">
    <AlertCustom />
    @Body
</div>

@code {
    private bool LoggedIn => AccountService.User != null;
}