.table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1vw;
    margin: 1vw;
    border-radius: 3px;
    background-color: white;
    min-width: 650px;
    max-width: calc(100% - 2vw);
}


