body {
}

.main-info {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.info {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 40px 100px 40px 40px;
    background-color: white;
}

::deep .Avatar {
    display: block;
    height: 300px;
    border-radius: 2px 2px 0 0;
}

.photo-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: white;
    height: 340px;
}

::deep .edit-button {
    border-radius: 0 0 2px 2px;
    height: 40px;
    width: 100%;
}

.tables {
    margin: 30px 0;
    display: flex;
    justify-content: start;
}

.my-table {
    font-size: 150%;

}

