body {
}

.main-info {
    display: flex;
    margin: 20px;
    position: relative;
    width: 100%;
}

.info {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    border-radius: 3px;
    background-color: white;
    width: 100%;
}

.photo-card {
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: white;
    display: table;
}

.edit-button {
    background-color: black;
    height: 40px;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
}

.tables {
    margin: 30px 0;
    display: flex;
    justify-content: start;
}

.my-table {
    font-size: 150%;

}